<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mt-5 text-white">
                <h5><i class="fa fa-road"></i> DEN-SHOP</h5>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Ürünler</a></li>
                            <li><a href="">Gizlilik sözleşmesi</a></li>
                            <li><a href="">Bağlantılar</a></li>
                            <li><a href="">Takım</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Belgeler</a></li>
                            <li><a href="">Destek</a></li>
                            <li><a href="">Yasal Şartlar</a></li>
                            <li><a href="">Hakkımızda</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
                </ul>
                <br>
            </div>
            <div class="col-md-2 mt-5">
                <h5 class="text-md-right text-white">Bize ulaşın</h5>
                <hr>
            </div>
            <div class="col-md-5 mt-5">
                <form>
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
                    </fieldset>
                    <fieldset class="form-group text-xs-right">
                        <button type="button" class="btn btn-outline-danger btn-lg">Gönder</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</footer>
