{% extends 'base.html'%}
{% load static %}
{% block content %}
<!-- sect-heading -->

	
<div class="row">
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/1.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">GIGABYTE 27" GS27QC 170Hz(OC) 1ms HDMI DP HDR QHD SS VA Curved Gaming Monitör</a>
				<div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/2.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Lenovo Legion T5 26AMR5 90RC017BTK R7 5800 16GB DDR4 RTX 3070 8GB GDDR6 1TB SSD FreeDos Gaming Bilgisayar</a>
				<div class="price mt-1">6.499,00 $</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/3.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">AORUS MODEL S 12th i7-12700K 32GB DDR5 4TB M.2 2280 PCIe 4.0 SSD RTX 3070 GDDR6 8GB Siyah RGB W11 Gaming PC</a>
				<div class="price mt-1">29.829,00 $</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/4.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">GIGABYTE AERO 16 i7-13700H 16GB DDR5 RTX4070 GDDR6 8GB 1TB SSD 16" UHD+ 60Hz W11 Notebook</a>
				<div class="price mt-1">38.999,00 $</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/5.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">GIGABYTE G7 KF i5-12500H 16GB DDR4 RTX4060 GDDR6 8GB 512GB SSD 17.3" FHD 144Hz FreeDos Gaming Notebook</a>
				<div class="price mt-1">73.999,00 $</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/6.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">MESUT CEVIK-FORCE/Intel Core i5 13400F/GIGABYTE GeForce RTX 4060 Ti EAGLE OC 8GB/16GB DDR4/500GB NVME M.2 SSD/Geforce RTX RayTracing PC</a>
				<div class="price mt-1">33.999,00 $</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/7.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">DH-SPIDER/Intel Core i5 12400F/ASUS GeForce RTX 4070 DUAL OC Edition 12GB/16GB DDR4/1TB NVME M.2 SSD/Geforce RTX RayTracing PC</a>
				<div class="price mt-1">27.999,99 $</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{% static 'images/items/9.jpg' %}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">GIGABYTE G7 KF i5-12500H 16GB DDR4 RTX4060 GDDR6 8GB 512GB SSD 17.3" FHD 144Hz FreeDos Gaming Notebook</a>
				<div class="price mt-1">30.999,77 $</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






</body>
</html>



{% endblock %}